$title-font: 'Poppins', sans-serif;
$text-font: 'Source Sans Pro', sans-serif;
$main-color: #242635; 

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.navigation {
    margin-top: 70px;
    max-width: 864px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 80px;
    list-style: none;
    text-decoration: none;
    font-size: 24px;
    font-family: $title-font;
    color: $main-color;
    &:hover {
        background: none;
    }
    @media screen and (max-width: 370px) {
        padding-right: 50px;
    }
}

.other-links {
    display: flex;
    justify-content: center;
}

.topnav {
    overflow: hidden;
    margin-top: 70px;
}
  
.topnav a {
    float: left;
    display: block;
    color: $main-color;
    font-family: $text-font;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    &:hover {
        color: white;
        background-color: $main-color;  
    }
}
  

  
.topnav .icon {
    display: none;
}
  
@media screen and (max-width: 370px) {
    .topnav a {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
        background-color: white;
        color: $main-color;
    }
}
  
@media screen and (max-width: 370px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: -13px;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

section {
    max-width: 864px;
    width: 100%;
}

.info {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    @media screen and (max-width:370px) {
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
    }
}

.info__title {
    text-align: center;
    font-size: 90px;
    font-family: $title-font;
    font-weight: 500;
    line-height: 1.1;
    @media screen and (max-width: 768px) {
        font-size: 72px;
        text-align: center;
    }
    @media screen and (max-width: 370px) {
        font-size: 36px;
        text-align: center;
    }
}

.info__text {
    margin-top: 30px; 
    font-size: 22px;
    font-family: $text-font;
    line-height: 1.5;
    color: $main-color;
    text-align: center;
    @media screen and (max-width:560px) {
        font-size: 16px;
    }
    @media screen and (max-width: 400px) {
        font-size: 12px;
        text-align: center;
    }
}

.image {
    width: 864px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    margin-right: 10px;
    @media screen and (max-width: 813px){
        width: 700px;
    }
    @media screen and (max-width: 370px) {
        margin-left: 50px;
    }
}
